body {
  background-color: #f8f8ff;
}

.container {
  background-color: white;
}

#articles {
  display: inline-block;
  overflow: auto;
}
#notes {
  float: right;
  width: 30%;
}
textarea,
input {
  display: block;
  width: 100%;
  background-color: #fcf5c7;
}
input {
  height: 36px;
  font-size: 24px;
}
textarea {
  height: 200px;
  font-size: 18px;
}

.navbar-brand {
  color: white;
  background-color: #122d68;
}

#navbarNav {
  color: white !important;
  background-color: #d0021b;
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;

}

a{
    color: white;
    padding-right: .5rem;
    padding-left: .5rem;
}

.navbar-expand-lg{
  background-color: #f8f8ff;
}

